//colors
$main-background: #1ca4d1;
$nav-link-color: #ffffff;
$nav-link-color-hover: rgb(252, 115, 24);
$hero-blend-mode-color: rgba(0, 0, 0, 0.7);
$main-text-color: #ffffff;
$secondary-text-color: #ffffff;
$title-color: rgb(233, 228, 221);
$general-font-size: 2vmax;
//fonts
$main-page-font: 'Josefin Sans', sans-serif;
$italic-font: 'Gloria Hallelujah', cursive;
$secondary-page-font: 'Roboto Mono', monospace;
$boxes-font: 'IBM Plex Serif', serif;
@font-face {
    font-family: 'Genericons';
    src: url('../icons/genericons-regular-webfont.woff')format('woff'),
    url('../icons/genericons-regular-webfont.eot')format('truetype');
}
//mixins
@mixin box-sizing-img($width,$height) {
    width: $width;
    height: $height;
}
@mixin font-size-family-color($font-family, $font-size, $font-color) {
    font-family: $font-family;
    font-size: $font-size;
    color: $font-color;
}
@mixin background-box-text-colors ($background-color, $font-color) {
    background-color: $background-color;
    color: $font-color;
}
//
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $main-background;
    font-size: $general-font-size;
}

#fullpage {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "section-start-page section-start-page section-start-page"
        ". section-bio ."
        ". section-portfolio ."
        ". section-contact .";     
}

.scroll-button {
    position: absolute;
    bottom: 5%;
    left: 90%;
    transform: rotate(90deg);
    z-index: 999;
    cursor: pointer;
    a {      
        text-decoration: none;
        color: $nav-link-color;
        z-index: 999;
        margin-right: 10px;
        opacity: 1;
    }
    hr {
        margin-left: 50px;
        width: 50px;
        opacity: 0.3;
        position: absolute;
    }
}

nav {
    line-height: 300%;
    width: 100vw;
    position: absolute;
    z-index: 998;
    display: flex;
    flex-direction: row-reverse;
    align-content: flex-end;
    .menu-button {
     /*   background-color: rgba(0, 0, 0, 0.7);*/
        color: $nav-link-color;
        cursor: pointer;
        &:before { 
            font-family: 'Genericons';
            content: '\f419';
            padding-right: 5px;  
        }
        &:focus:before {
            font-family: 'Genericons';
            content: '\f406';
        }
    }
    .nav-menu, .nav-menu-visible {
        width: 0%;
        overflow: hidden;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        list-style-type: none;
        font-family: $boxes-font;
        font-size: 2.2vmax;
        font-weight: 700;
    /*    background-color: rgba(0, 0, 0, 0.7); */
        @media screen and (orientation: landscape) {
            justify-content: flex-end;
        }
        .nav-item {
            padding-right: 15px;
            position: relative;
            display: list-item;
            @media screen and (min-width: 1024px) {
                padding-right: 40px;
            }
            &:last-child {
                display: block;
            }
            a {
                text-decoration: none;
                font-family: $secondary-page-font;
                color: $title-color;
                &:hover, &:focus {
                    color: $nav-link-color-hover;
                    transition: all 1s;
                    
                }
            }
        }
    }
}


.section {
    max-height: 100vh;
    overflow: hidden;
}

.section-start-page {
    grid-area: section-start-page;
/*    background-image: url('../images/code-coding-computer-front.jpg');*/
    
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .face-img {
            width: 80px;
            height: 80px;
            object-fit: contain;
            border-radius: 50%;
            img {
                width: inherit;
                height: inherit;
                object-fit: cover;
                
            }
        }
        img {
            width:60vw;
            height:20vh;
            object-fit: cover;
            box-shadow: 5px 5px 5px rgb(0, 0, 0);
        }
        .title {
            color: $title-color;
            font-family: $italic-font;
            font-size: 4em;
            text-shadow: 3px 3px 1px #000000;
            .subtitle {
                display: block;
                font-size: 2rem;
            }
        } 
    }
}
//BIO
.section-bio {
    grid-area: section-bio;
    div {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 100%; 
        grid-template-rows: 25vh 75vh;
        grid-template-areas: 
            "bio-buttons" 
            "bio-text";      
        .bio-text {
            background-image: url('../images/computer-background.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain; 
            grid-area: bio-text;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            #bio-life-text, #bio-skills-text, #bio-work-text {
                @include font-size-family-color($main-page-font, 2.4vmax, $main-text-color);  
                background-color: $hero-blend-mode-color;
                border-radius: 15px;
                padding: 15px; 
                text-align: justify;
                line-height: 3vmax;         
                display: flex;
                flex-direction: column;
                align-items: center;
                p {
                    align-self: flex-start;
                    margin-top: 10px;
                }
                h2 {
                    margin-top: 10px;
                    text-decoration: underline;
                }
            }
            #bio-work-text {
                h2 {
                    font-size: 4vmax;
                }
                span {
                    color: $secondary-text-color;
                    padding: 2% 0;
                    display: block;
                }
            }
        }
        .bio-buttons {
            grid-area: bio-buttons;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: row;
            a {
                @include font-size-family-color($boxes-font, 2.5vmax, $main-text-color);
                text-decoration: none;
                transition: 0.3s;
                padding: 10px 0 ;
                position: relative;
                display: block;
                &:focus {
                    transition: 0s;
                    color: $nav-link-color-hover;
                }
                &:before {
                    content: "";
                    border-bottom: 1px solid;
                    padding: 0 10px;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    margin: 0 auto;
                    transition: 0.3s;
                    width: 0%;
                }
                &:hover:before, &:focus::before {
                        width: 100%;
                        padding: 0;
                    }
            }
        }
    } 
}

// Portfolio
.section-portfolio {
    grid-area: section-portfolio; 
    .portfolio-wrapper {
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        h1 {
            color: $title-color;
        }
        .project {
            min-height: 35%;
            max-height: 40%;
            margin-bottom: 5px;
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            @include background-box-text-colors($hero-blend-mode-color, $main-text-color);
            img {
                width: 100%;
                height: 20vh;
                object-fit: cover;
                object-position: 0 0;
                padding: inherit;
            }
            p {
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                
            }
            h1 {
                @include font-size-family-color($main-page-font, 3vmax, $title-color);
                width: 100%;
                margin-top: 5px;
                text-align: center;
            }
            a {
                padding-left: 2px;
                text-decoration: none;
                color: $title-color;
                width: 40%;
            }
            h1.github-acc {
            //    background-color: #24292e;
                &:before {
                    font-family: 'Genericons';
                    content: '\f200';
                }
            }
        }
    }   
}

//Contact
.section-contact {
    grid-area: section-contact;
    display: flex;
    flex-direction: column;
    h1 {
        font-size: 3vmax;
        color: $main-text-color;
        text-align: center;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $main-text-color;
    }
    .media-icons {
        margin-top:5vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        p {
            width: 100%;
            text-align: center;
        }
        a {
            box-shadow: 2px 3px 5px black;
            margin-right: 5vw;
            color: #ffffff;
            background-color: #ffffff;
            text-decoration: none;
            font-size: 2vmax;
            padding: 2vmax;
            border-radius: 50%;
            border: 1px solid white; 
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                    background-color: rgb(175, 195, 214);
                }
            &:before {
                font-size: 3vmax;      
            }
        }
    }
}

#twitter {
    &:before {
        color: #0084b4;
        font-family: 'Genericons';
        content: '\f202';
    }
}
#facebook {
    &:before {
        color: #3b5998;
        font-family: 'Genericons';
        content: '\f203';
    }
}
#linkedin {
    &:before {
        color: #4875B4;
        font-family: 'Genericons';
        content: '\f207';
    }
}
#e-mail {
    &:before {
        color: rgb(35, 75, 185);
        font-family: 'Genericons';
        content: '\f410';
    }
}

@media screen and (min-width: 768px) {
    nav {
        line-height: 200%;
        .menu-button {
            &:before { 
            }
            &:focus:before {
            }
        }
        .nav-menu, .nav-menu-visible {
            font-size: 2.0vmax;
            .nav-item {
                &:last-child {   
                }
                a {
                    &:hover, &:focus {
                    }
                }
            }
        }
    }
}
