//colors
$main-background: #1ca4d1; 
$nav-link-color: #ffffff;
$nav-link-color-hover: rgb(252, 115, 24);
$section-background-color: rgba(0, 0, 0, 0.7);
$main-text-color: #ffffff;
$secondary-text-color: rgb(252, 115, 24);
$title-color: rgb(233, 228, 221);
$general-font-size: 2vmax;
$bigger-font-size: 3vmax;

//fonts
$main-page-font: 'Josefin Sans', sans-serif;
$italic-font: 'Gloria Hallelujah', cursive;
$secondary-page-font: 'Roboto Mono', monospace;
$boxes-font: 'IBM Plex Serif', serif;
@font-face {
    font-family: 'Genericons';
    src: url('../icons/genericons-regular-webfont.woff')format('woff'),
    url('../icons/genericons-regular-webfont.eot')format('truetype');
}
//mixins
@mixin box-sizing-img($width,$height) {
    width: $width;
    height: $height;
}
@mixin font-size-family-color($font-family, $font-size, $font-color) {
    font-family: $font-family;
    font-size: $font-size;
    color: $font-color;
}
@mixin background-box-text-colors ($background-color, $font-color) {
    background-color: $background-color;
    color: $font-color;
}
//
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $main-background;
    font-size: $general-font-size;
}

#fullpage {
    display: grid;
    grid-template-columns: 1% 98% 1%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "section-start-page section-start-page section-start-page"
        ". section-bio ."
        ". section-portfolio ."
        ". section-contact .";     
    @media screen and (orientation: landscape)  {
        grid-template-columns: 10% 80% 10%;
        grid-template-areas: 
        "section-start-page section-start-page section-start-page"
        ". section-bio ."
        ". section-portfolio ."
        ". section-contact .";  
    }
}

.scroll-button {
    position: absolute;
    bottom: 5%;
    left: 90%;
    transform: rotate(90deg);
    z-index: 999;
    cursor: pointer;
    @media screen and (min-width: 1200px) {
        font-size: 1.5vmax;
    }
    a {      
        text-decoration: none;
        color: $nav-link-color;
        z-index: 999;
        margin-right: 10px;
        opacity: 1;
        &::after {
            top: 50%;
            width: 100%;
            left: 0%;
            content: '';
            position: absolute;
            border-top: 1px solid $main-text-color;
            transition: all 0.5s;
        }
        &:hover {
            &::after {
                top: 50%;
                left: -50%;
                transition: all 0.5s;
                width: 200%;
                opacity: 0.8;
            }
        }
    }
}

nav {
    @include font-size-family-color($boxes-font, $general-font-size, $nav-link-color);
    margin-top: 2vh;
    width: 100vw;
    position: absolute;
    z-index: 998;
    display: flex;
    flex-direction: row-reverse;
    align-content: flex-end;
    @media screen and (min-width: 1200px) {
        font-size: 1.5vmax;
    }
    .menu-button {
        margin-right: 5%;
        cursor: pointer;
        &:before { 
            font-family: 'Genericons';
            content: '\f419';
            padding-right: 5px; 
        }
    }
    .nav-menu, .nav-menu-visible {
        width: 0%;
        overflow: hidden;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        list-style-type: none;
        @media screen and (orientation: landscape) {
            justify-content: flex-end;
        }
        .nav-item {
            padding-right: 25px;
            position: relative;
            display: list-item;
            @media screen and (orientation: landscape ){
                padding-right: 15px;
                @media (min-width:1024px) {
                    padding-right: 40px;
                }
            }
            &:last-child {
                display: block;
            }
            a {
                color: inherit;
                text-decoration: none;
                &:hover, &:focus {
                    color: $nav-link-color-hover;
                    transition: all 1s; 
                }
            }
        }
    }
}


.section {
    max-height: 100vh;
    overflow: hidden;
}

.section-start-page {
    grid-area: section-start-page;
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media screen and (orientation: landscape) {
            flex-direction: row;
            margin-right: 40px;
        }
        .face-img {
            width: 80px;
            height: 80px;
            object-fit: contain;
            border-radius: 50%;
            img {
                width: inherit;
                height: inherit;
                object-fit: cover;
                
            }
        }
        img {
            width:60vw;
            height:20vh;
            object-fit: cover;
            box-shadow: 5px 5px 5px rgb(0, 0, 0);
        }
        .title {
            color: $title-color;
            font-family: $italic-font;
            font-size: 3.8em;
            text-shadow: 3px 3px 1px #000000;
            .subtitle {
                display: block;
                font-size: 2rem;
            }
        } 
    }
}

//BIO
.section-bio {
    grid-area: section-bio;
    div {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 100%; 
        grid-template-rows: 25vh 75vh;
        grid-template-areas: 
            "bio-buttons" 
            "bio-text";      
        .bio-text {
            background-image: url('../images/computer-background.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain; 
            grid-area: bio-text;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            #bio-life-text, #bio-skills-text, #bio-work-text {
                @include font-size-family-color($main-page-font, 2.4vmax, $main-text-color);  
                @media screen and (min-width: 1200px) {
                    font-size: 1.6vmax;
                }
                background-color: $section-background-color;
                border-radius: 15px;
                padding:0 15px 15px 15px; 
                text-align: justify;
                line-height: 3vmax;         
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                min-height: 80%;
                p {
                    align-self: flex-start;
                    margin-top: 10px;
                }
                h2 {
                    @media screen and (min-width: 1200px) {
                        font-size: 1.9vmax;
                    }
                    margin-top: 10px;
                    text-decoration: underline;
                    text-decoration-color: $nav-link-color-hover;
                }
                ul {
                    margin-top: 10px;
                    &:nth-child(2) {
                        margin-left: 5%;
                        align-self: flex-start;
                    }
                    &:nth-child(5) {
                        margin-right: 5%;
                        align-self: flex-end;
                    }
                    @media screen and (orientation: landscape){
                        &:nth-child(5) {
                            align-self: flex-start;
                        }
                    }
                    span {
                        text-decoration: underline;
                        text-decoration-color: $nav-link-color-hover;
                    }
                    li {
                        margin-top: 5px;   
                    }

                }
            }
            #bio-work-text {
                
                span {
                    color: $secondary-text-color;
                    padding: 2% 0;
                    display: block;
                }
            }
            
            @media screen and (orientation: landscape) {
                #bio-skills-text {
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;                    
                    h2 {
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
        .bio-buttons {
            grid-area: bio-buttons;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            a {
                @include font-size-family-color($boxes-font, 2.5vmax, $main-text-color);
                @media screen and (min-width: 1200px) {
                    font-size: 1.9vmax;
                }
                text-decoration: none;
                transition: 0.3s;
                padding: 10px 0 ;
                position: relative;
                display: block;
                margin-right: 5%;
                &:last-child {
                    margin-right: 0;
                }
                &:focus {
                    transition: 0s;
                    color: $nav-link-color-hover;
                }
                &:before {
                    content: "";
                    border-bottom: 1px solid;
                    padding: 0 10px;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    margin: 0 auto;
                    transition: 0.3s;
                    width: 0%;
                }
                &:hover:before, &:focus::before {
                        width: 100%;
                        padding: 0;
                    }
            }
        }
    } 
}

// Portfolio
.section-portfolio {
    grid-area: section-portfolio;
    @include font-size-family-color($boxes-font, $general-font-size, $main-text-color);
    @media screen and (min-width: 1200px) {
        font-size: 1.7vmax;
    }
    h1 {    
        text-align: center;
        margin-top: 3vmax;
        @media screen and (min-width: 1200px) {
            font-size: 2.2vmax;
        }
    } 

    .portfolio-info {
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        @media screen and (orientation: landscape) {
            height: 40vh
        }
    }

    .projects {
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        @media screen and (orientation: landscape) {
            flex-direction: row;
            height: 60vh;
        }
    }
}

.project {
    margin-right: 5%;
    @include box-sizing-img(99%, 30%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 1px 1px 1px black;
    @media screen and (orientation: landscape) {
        @include box-sizing-img(30%, 40%); 
        @media (min-width: 1024px) {
            @include box-sizing-img(30%, 50%); 
        }
        &:last-child {
            margin-right: 0;
        }
    }
    .img-container {
        height: 60%;
        width: 100%;
        background-color: #000000;
        display: flex;
        align-items: center;
        img {   
            height: 100%;
            width: 50%;
            margin: 0 auto;
            object-fit: cover;
            object-position: 50% 0%;
        }
        #new-project {
            object-fit: fill;
        }
    }
    .project-info-container {
        font-size: $general-font-size;
        @media screen and (orientation: landscape) {
            object-position: 50% 50%;
            justify-content: space-between;
            @media screen and (min-width: 900px) {
            font-size: 1.5vmax
            }
            @media screen and (min-width: 1200px) {
                font-size: 1vmax
            }
        }
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: $section-background-color;
        @media screen and (orientation: landscape) {
            object-position: 50% 50%;
            justify-content: space-between;
        }
        h1 {
            font-size: $general-font-size;
            @media screen and (min-width: 900px) {
                font-size: 1.5vmax
            }
            @media screen and (min-width: 1200px) {
                font-size: 1vmax
            }
            margin-top: 5px;
            text-decoration: underline;
            text-decoration-color: $secondary-text-color;
        }
        a {
            margin-left: 5%;
            margin-bottom: 3%;
            text-decoration: none;
            color: $main-text-color;
            border: 1px solid black;
            box-shadow: 1px 1px 1px black;
            border-radius: 15%;
            padding: 1px;
            align-self: flex-start;
            @media screen and (orientation: landscape) {
                margin-bottom: 1%;
            }
            &:hover, &:focus {
                color: $secondary-text-color;
            }
        }
    }
    h1.github-acc {
        &:before {
            font-family: 'Genericons';
            content: '\f200';
            margin-right: 5px;
        }
    }
} 

//Contact
.section-contact {
    grid-area: section-contact;
    @include font-size-family-color($main-page-font, $general-font-size, $main-text-color);
    h1 {
        font-size: $bigger-font-size;   
        margin-top: 1.5vh;
        @media screen and (min-width: 1200px) {
            font-size: 2.2vmax;
        }
        &:first-child {
            width: 100%;
        }
    }
    form {
        min-height: 65%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        @media screen and (min-width: 1200px) {
            font-size: 1.5vmax;
        }
        input {
            line-height: 200%;
            width: 80%;
        }
        textarea {
            width: 100%;
            line-height: 150%;
        }
        .message-buttons {
            width: 80%;
            display: flex;
            justify-content: space-evenly;
            align-content: space-between;
            input {
                background: $section-background-color;
                border: 1px solid $secondary-text-color;
                color: $main-text-color;
                width: 45%;
                &:hover {
                    color: $secondary-text-color;
                }
            }
        }
        @media screen and (orientation: landscape) {
            width:80%
        }
    }
    .media-icons {
        margin-top: 1vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        @media screen and (orientation: landscape) {
            flex-direction: column;
            width: 20%;
        }
        p {
            width: 100%;
            text-align: center;
        }
        a {
            box-shadow: 2px 3px 5px black;
            margin-right: 5vw;
            color: #ffffff;
            background-color: #ffffff;
            text-decoration: none;
            font-size: 1vmax;
            padding: 2vmax;
            border-radius: 50%;
            border: 1px solid white; 
            @media screen and (orientation: landscape) {
                margin-right: 0;
                margin-bottom: 1vh;
            }
            @media screen and (min-width:1024px){
                font-size: 0.5vmax;
                padding: 1vmax;
            }
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                    background-color: rgb(175, 195, 214);
                }
            &:before {
                font-size: $bigger-font-size;
                @media screen and (min-width: 1200px) {
                    font-size: 2.2vmax;
                }        
            }
        }
    }
}

#twitter {
    &:before {
        color: #0084b4;
        font-family: 'Genericons';
        content: '\f202';
    }
}
#facebook {
    &:before {
        color: #3b5998;
        font-family: 'Genericons';
        content: '\f203';
    }
}
#linkedin {
    &:before {
        color: #4875B4;
        font-family: 'Genericons';
        content: '\f207';
    }
}
#e-mail {
    &:before {
        color: $nav-link-color-hover;
        font-family: 'Genericons';
        content: '\f410';
    }
}

#github {
    &:before {
        color: #333;
        font-family: 'Genericons';
        content: '\f200';
    }
}
