@font-face {
  font-family: 'Genericons';
  src: url("../icons/genericons-regular-webfont.woff") format("woff"), url("../icons/genericons-regular-webfont.eot") format("truetype"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #1b1e1f; }

#fullpage {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "section-start-page section-start-page section-start-page" ". section-bio ." ". section-portfolio ." ". section-contact ."; }

.scroll-button {
  position: absolute;
  top: 90%;
  left: 90%;
  transform: rotate(90deg);
  z-index: 999;
  cursor: pointer; }
  .scroll-button a {
    text-decoration: none;
    color: #ffffff;
    z-index: 999;
    margin-right: 10px;
    opacity: 1; }
  .scroll-button hr {
    margin-left: 50px;
    width: 50px;
    opacity: 0.3;
    position: absolute; }

nav {
  line-height: 350%;
  width: 100vw;
  top: 5px;
  position: absolute;
  z-index: 998;
  display: flex;
  flex-direction: row-reverse;
  align-content: flex-end; }
  nav .menu-button {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    cursor: pointer; }
    nav .menu-button:before {
      font-family: 'Genericons';
      content: '\f419';
      padding-right: 5px; }
    nav .menu-button:focus:before {
      font-family: 'Genericons';
      content: '\f406'; }
  nav .nav-menu-visible {
    width: 100%; }
  nav .nav-menu {
    width: 0%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    list-style-type: none;
    font-family: "IBM Plex Serif", serif;
    font-size: 2.2vmax;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden; }
    nav .nav-menu .nav-item {
      padding-right: 15px;
      position: relative;
      display: list-item; }
      nav .nav-menu .nav-item:last-child {
        display: block; }
      nav .nav-menu .nav-item a {
        text-decoration: none;
        font-family: "Roboto Mono", monospace;
        color: #df8f17; }
        nav .nav-menu .nav-item a:hover {
          color: white;
          text-decoration: underline;
          transition: all 1s; }

.section {
  max-height: 100vh; }

.section-start-page {
  grid-area: section-start-page;
  /*    background-image: url('../images/code-coding-computer-front.jpg');*/ }
  .section-start-page div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .section-start-page div img {
      width: 60vw;
      height: 20vh;
      object-fit: cover;
      box-shadow: 5px 5px 5px #000000; }
    .section-start-page div .title {
      color: #df8f17;
      font-family: "Gloria Hallelujah", cursive;
      font-size: 4em;
      text-shadow: 3px 3px 1px #000000; }
      .section-start-page div .title .subtitle {
        display: block;
        font-size: 2rem; }

.section-bio {
  grid-area: section-bio; }
  .section-bio div {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 100%;
    grid-template-rows: 25vh 75vh;
    grid-template-areas: "bio-buttons"  "bio-text"; }
    .section-bio div .bio-text {
      background-image: url("../images/computer-background.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      grid-area: bio-text;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
      .section-bio div .bio-text #bio-life-text, .section-bio div .bio-text #bio-skills-text, .section-bio div .bio-text #bio-work-text {
        font-family: "Josefin Sans", sans-serif;
        font-size: 2.4vmax;
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 15px;
        text-align: justify;
        line-height: 3vmax;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .section-bio div .bio-text #bio-life-text p, .section-bio div .bio-text #bio-skills-text p, .section-bio div .bio-text #bio-work-text p {
          align-self: flex-start;
          margin-top: 10px; }
        .section-bio div .bio-text #bio-life-text h2, .section-bio div .bio-text #bio-skills-text h2, .section-bio div .bio-text #bio-work-text h2 {
          margin-top: 10px;
          text-decoration: underline; }
      .section-bio div .bio-text #bio-work-text h2 {
        font-size: 4vmax; }
      .section-bio div .bio-text #bio-work-text span {
        color: #ffffff;
        padding: 2% 0;
        display: block; }
    .section-bio div .bio-buttons {
      grid-area: bio-buttons;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: row; }
      .section-bio div .bio-buttons a {
        font-family: "IBM Plex Serif", serif;
        font-size: 2.5vmax;
        color: #ffffff;
        padding-right: 10px;
        text-decoration: none; }
        .section-bio div .bio-buttons a:focus {
          text-decoration: wavy;
          color: #ffffff;
          font-size: 2.3vmax; }
        .section-bio div .bio-buttons a:hover {
          color: white;
          font-size: 2.3vmax; }

.section-portfolio {
  grid-area: section-portfolio; }
  .section-portfolio .portfolio-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    .section-portfolio .portfolio-wrapper h1 {
      color: #df8f17;
      margin-top: 20%; }
    .section-portfolio .portfolio-wrapper .project {
      max-height: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: nowrap;
      background-color: rgba(0, 0, 0, 0.7);
      color: #ffffff; }
      .section-portfolio .portfolio-wrapper .project img {
        width: 50%;
        height: 20vh;
        object-fit: scale-down; }
      .section-portfolio .portfolio-wrapper .project p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify; }
      .section-portfolio .portfolio-wrapper .project h1 {
        font-family: "Josefin Sans", sans-serif;
        font-size: 3vmax;
        color: #df8f17;
        width: 100%;
        margin-top: 5px;
        text-align: center; }
      .section-portfolio .portfolio-wrapper .project a {
        text-decoration: none;
        color: #df8f17; }
      .section-portfolio .portfolio-wrapper .project h1.github-acc:before {
        font-family: 'Genericons';
        content: '\f200'; }

.section-contact {
  grid-area: section-contact;
  display: flex;
  flex-direction: column; }
  .section-contact h1 {
    font-size: 3vmax;
    color: #ffffff;
    text-align: center; }
  .section-contact form {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .section-contact .media-icons {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .section-contact .media-icons p {
      width: 100%;
      text-align: center; }
    .section-contact .media-icons a {
      box-shadow: 2px 3px 5px black;
      margin-right: 5vw;
      color: #ffffff;
      background-color: #ffffff;
      text-decoration: none;
      font-size: 2vmax;
      padding: 2vmax;
      border-radius: 50%;
      border: 1px solid white; }
      .section-contact .media-icons a:last-child {
        margin-right: 0; }
      .section-contact .media-icons a:hover {
        background-color: #afc3d6; }
      .section-contact .media-icons a:before {
        font-size: 3vmax; }

#twitter:before {
  color: #0084b4;
  font-family: 'Genericons';
  content: '\f202'; }

#facebook:before {
  color: #3b5998;
  font-family: 'Genericons';
  content: '\f203'; }

#linkedin:before {
  color: #4875B4;
  font-family: 'Genericons';
  content: '\f207'; }

#e-mail:before {
  color: #234bb9;
  font-family: 'Genericons';
  content: '\f410'; }
